:root {
  --play-button-bg: rgba(0, 0, 0, 0.7);
  --play-button-color: white;
  --play-button-bg-hover: rgba(0, 0, 0, 0.9);

  --subtitles-color: white;
  --subtitles-bg: rgba(0, 0, 0, 0.7);
  --subtitles-opacity: 0.5;
}