:root {
  --vp-play-button-bg: rgba(0, 0, 0, 0.7);
  --vp-play-button-color: white;
  --vp-play-button-bg-hover: rgba(0, 0, 0, 0.9);

  --vp-subtitles-color: white;
  --vp-subtitles-bg: rgba(0, 0, 0, 0.7);
  --vp-subtitles-opacity: 0.7;
}